.about-pg {
    height: 100vh;
    padding-top: 6%;
    margin-bottom: 5%;
    margin-right: 0px;
    padding-right: 0px;
}

.mat-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 10px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: #B48079;
    
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.close-icon {
    /* color: #794f47; */
    color: #ccc;
    font-size: 24px;
}

.process-icons {
    color: #794f47;
    font-size: 13px;
}

/* .col-styles {
    padding-left: 5%;
} */

.about-pic {
    width: 150px;
    height: 150px;
}

.about-polaroid {
    /* width to height ratio is 83%, as in height = 100%, width = 83% */
    width: 290px;
    height: 350px;
    text-align: left;
}

.about-links-container {
    margin-top: 10%;
}

.about-links {
    color: #bb8c86;
    text-decoration: none;
}

.about-links:hover {
    color: #bb8c86;
    font-style: italic;
    text-decoration: none;
}

.about-headers {
    font-family: "Oxygen";
    font-weight: 100;
    color: #794f47;
    text-align: left;
    letter-spacing: 2px;
    font-size: 150%;
}

.about-text {
    text-align: left;
    font-size: 80%;
}

.stats {
    font-size: 75%;
}

.process-button {
    font-family: 'Muli';
    font-size: 100%;
    font-weight: 100;
    text-transform: uppercase;
    background-color: #bb8c86;
    color: #fff;
    border: none;
    /* padding: top right bottom left */
    padding: 2% 8% 2% 8%;
    text-align: left;
    border-radius: 5px;

    display: inline-block;
    margin-right: 20px;
}

.process-button:hover {
    font-weight: 600;
    color: #986359;
    background-color: #fff;
}

.portfolio-button {
    font-family: 'Muli';
    font-size: 100%;
    font-weight: 100;
    text-transform: uppercase;
    background-color: #bb8c86;
    color: #fff;
    border: none;
    /* padding: top right bottom left */
    padding: 2% 8% 2% 8%;
    text-align: left;
    border-radius: 5px;

    display: inline-block;
    margin-right: 20px;
}

.portfolio-button:hover {
    font-weight: 600;
    color: #986359;
    background-color: #fff;
}

.process-link {
    color: #fff;
    text-decoration: none;
}

.process-link:hover {
    color: #986359;
    text-decoration: none;
}

.tab { 
    display: inline-block; 
    margin-left: 10px; 
}

.process-page {
    /* padding: top right bottom left */
    padding: 0 2% 2% 2%;
}

.exit-button:hover {
    background: #fff;
}

.process-headers {
    font-family: "Oxygen";
    font-weight: 100;
    color: #794f47;
    text-align: left;
    letter-spacing: 1px;
    font-size: 100%;
    /* text-transform: uppercase; */
}

.process-close-button {
    font-family: "Helvetica";
    font-weight: 500;
    font-size: 85%;
    color: #fff;
    background-color: #caa6a1;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-style: none;
    border-radius: 3px;
    /* padding: top right bottom left */
    padding: 6px 10px 5px 10px;
}

.process-close-button:hover {
    color: #794f47;
    background-color: #fff;
}

/* fucking iphone 5s */
@media only screen and (max-width: 325px) {
    .about-pg {
        padding-top: 15%;
    }

    .mobile-about-pic {
        text-align: center;
    }

    .about-pic {
        width: 135px;
        height: 135px;
    }

    .about-polaroid {
        width: 208px;
        height: 300px;
    }

    .about-headers {
        font-size: 120%;
    }

    .about-text {
        font-size: 60%;
    }

    .sticky-contact {
        display: none;
    }
}
  
/* phones */
@media only screen and (max-width: 600px) {
    .about-pg {
        padding-top: 20%;
        padding-left: 3%;
        margin-bottom: 0px;
    }

    .mobile-about-pic {
        text-align: center;
    }

    .about-polaroid {
        width: 241px;
        height: 291px;
    }

    .about-text {
        font-size: 75%;
    }

    .process-button {
        margin-right: 5px;
    }

    .sticky-contact {
        display: none;
    }
}
  
/* tablet in portrait mode */
@media only screen and (min-width: 600px) and (max-width: 991px) {
    .about-pg {
        padding-top: 12%;
    }

    .process-button {
        margin-right: 5px;
    }

    .sticky-contact {
        display: none;
    }
}
  
/* large laptops / desktops / ipad pro */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .about-pg {
        height: 50vh;
        padding-top: 10%;
    }

    .process-button {
        margin-right: 5px;
        /* padding: top right bottom left */
        padding: 2% 3% 2% 3%;
    }

    .portfolio-button {
        padding: 2% 3% 2% 3%;
    }
}
  
/* very big desktops */
@media only screen and (min-width: 1500px) {

}
  
@media only screen and (min-width: 1800px) {
    .about-polaroid {
        width: 410px;
        height: 495px;
    }
}