.contact-page-dark {
    background: #6c473f;
    height: 70vh;
    /* width: 100vw; */
    padding-top: 7%;
    padding-right: 0px;
    text-align: left;
}

.n1-dark {
    font-family: "Oxygen";
    font-weight: 100;
    color: #e0d0cd;
    letter-spacing: 2px;
    font-size: 170%;
}

.n2-dark {
    font-family: "Helvetica";
    font-weight: 100;
    color: #e0d0cd;
    font-size: 105%;
}

.contact-text-dark {
    color:#dbc1be;
}

.e1-dark {
    font-family: "Oxygen";
    color: #e0d0cd;
    text-decoration: none;
}

.e1-dark:hover {
    color: #e0d0cd;
    text-decoration: none;
    font-style: italic;
    /* font-weight: 600; */
}

/* phones */
@media only screen and (max-width: 600px) {
    .contact-page-dark {
        padding-top: 20%;
        height: 70vh;
    }

    .n1-dark {
        font-size: 195%;
    }

    .n2-dark {
        font-size: 110%;
    }
}

/* tablet in portrait mode */
@media only screen and (min-width: 600px) and (max-width: 991px) {
    .contact-page-dark {
        height: 55vh;
    }
}

/* large laptops / desktops / ipad pro */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .contact-page-dark {
        height: 60vh;
    }
}