.contact-page-dark {
    background: #6c473f;
    height: 70vh;
    width: 100vw;
    padding-top: 7%;
    padding-right: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    text-align: left;
}

.n1-dark {
    font-family: "Oxygen";
    font-weight: 100;
    color: #e0d0cd;
    letter-spacing: 2px;
}

.n2-dark {
    font-family: "Oxygen";
    font-weight: 100;
    color: #e0d0cd;
    font-size: 115%;
}

.contact-text-dark {
    color: #c39993;
}

.e1-dark {
    color: #e0d0cd;
    text-decoration: none;
}

.e1-dark:hover {
    color: #e0d0cd;
    text-decoration: none;
    font-style: italic;
    /* font-weight: 600; */
}
