.logo-right {
    float: right;
    margin-top: 2%;
    margin-right: 6%;
}

.name {
    font-family: 'Oxygen';
    color: #e0d0cd;
    font-weight: 100;
    font-size: 100%;
}

.name:hover {
    color: #fff;
    font-style: italic;
    text-decoration: none;
}

