.logo-right {
    float: right;
    margin-top: 2%;
    margin-right: 6%;
}

.name {
    font-family: 'Helvetica';
    color: #b48079;
    font-weight: 100;
    font-size: 100%;
}

.name:hover {
    color: #b48079;
    font-style: italic;
    text-decoration: none;
}
