.landing {
    height: 100vh;

    /* padding: top right bottom left */
    padding: 3% 0px 0px 0px;

    /* background-image: url("./stars.png"), linear-gradient(180deg, #FFF 70%, #bb8c86 30%);
    background-repeat: no-repeat;
    background-position: bottom 70% left 45%; */
    /* background: linear-gradient(180deg, #FFF 70%, #bb8c86 30%); */
    background: #fff;
}

.pink-pls {
    padding: 3% 5% 3% 5%;
    margin-top: 25px;
    background: #986359;
}

#about {
    font-family: 'Oxygen';
    text-transform: uppercase; 
    letter-spacing: 8px;
    font-weight: 100;
    /* color: #588c7e; */
    color: #bb8c86;
    font-size: 250%;
}

#about-sub {
    font-family: 'Playfair Display';
    font-weight: 100;
    /* color:#9abab1; */
    color: #b48079;
    font-size: 150%;
}

.home-link-container {
    margin-top: 8%;
}

.home-links {
    font-family: 'Helvetica';
    text-transform: uppercase; 
    color: #fff;
    font-size: 90%;
    letter-spacing: 1px;
    /* padding: top right bottom left */
    padding: 0px 15px 0px 15px;
}

.home-links:hover {
    color: #fff;
    font-weight: 400;
    /* font-style: italic; */
    text-decoration: none;
}

.fade-in-about {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}

.fade-in-sub {
    animation: fadeIn ease 8s;
    -webkit-animation: fadeIn ease 8s;
    -moz-animation: fadeIn ease 8s;
    -o-animation: fadeIn ease 8s;
    -ms-animation: fadeIn ease 8s;
}
  
@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
  
@-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
  
@-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
  
@-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
  
@-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}