.landing {
    height: 100vh;

    /* padding: top right bottom left */
    padding: 3% 0px 0px 0px;

    background: #794f47;

    /* background-repeat: no-repeat; */
    /* background: linear-gradient(180deg, #FFF 70%, #bb8c86 30%); */
}

.landing-image {
  /* height: 100%, width: 83% */
  width: 290px;
  height: 350px;
}

.pink-pls {
    padding: 3% 5% 3% 5%;
    margin-top: 25px;
    background: #794f47;
}

#about {
    font-family: 'Oxygen';
    text-transform: uppercase; 
    letter-spacing: 8px;
    font-weight: 100;
    /* color: #588c7e; */
    color: #bb8c86;
    font-size: 250%;
}

#about-sub {
    font-family: 'Playfair Display';
    font-weight: 100;
    /* color:#9abab1; */
    color: #b48079;
    font-size: 150%;
}

.home-link-container {
    margin-top: 5%;
    text-align: center;
}

.home-links {
    font-family: 'Helvetica';
    text-transform: uppercase; 
    color: #fff;
    font-size: 90%;
    letter-spacing: 1px;
    /* padding: top right bottom left */
    padding: 0px 15px 0px 15px;
}

.home-links:hover {
    color: #fff;
    font-weight: 400;
    /* font-style: italic; */
    text-decoration: none;
}

.fade-in-about {
    animation: fadeIn ease 4s;
    -webkit-animation: fadeIn ease 4s;
    -moz-animation: fadeIn ease 4s;
    -o-animation: fadeIn ease 4s;
    -ms-animation: fadeIn ease 4s;
}

.fade-in-sub {
    animation: fadeIn ease 8s;
    -webkit-animation: fadeIn ease 8s;
    -moz-animation: fadeIn ease 8s;
    -o-animation: fadeIn ease 8s;
    -ms-animation: fadeIn ease 8s;
}
  
@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
  
@-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
  
@-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
  
@-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
  
@-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

/* bigger computers */
@media screen and (min-width: 1500px) {
  .pink-pls {
    /* padding: top right bottom left */
    padding: 10% 15% 10% 15%;
    width: 100%;
  }

  .landing-image {
    height: 450px;
    width: 373.5px;
  }

  .home-link-container {
    margin-top: 10%;
  }
}

/* tablets */
@media screen and (min-width: 601px) and (max-width: 1100px){
  .landing {
    padding-top: 10%;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin: 0px;
  }

  .landing-image {
    margin-top: 10%;
  }

  .pink-pls {
    /* padding: top right bottom left */
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
  }

  .home-links {
    font-size: 80%;
  }
}

/* phone screens */
@media screen and (min-width: 200px) and (max-width: 600px) {
  .landing {
    padding-top: 15%;
  }

  .landing-image {
    margin-top: 45%;
  }

  .pink-pls {
    /* padding: top right bottom left */
    margin: 0px;
    height: 100%;
    width: 100%;
  }

  .home-links {
    font-size: 15%;
  }
}

/* for iphone 5 because she's small */ 
@media screen and (min-width: 200px) and (max-width: 350px) {
  .landing-image {
    margin-top: 10%;
    width: 249px;
    height: 300px;
  }
}
