.contact-page-light {
    /* background: #794f47; */
    height: 50vh;
    padding-top: 7%;
    margin-bottom: 100px;
    text-align: left;
}

.n1-light {
    font-family: "Oxygen";
    font-weight: 100;
    color: #794f47;
    letter-spacing: 2px;
}

.n2-light {
    font-family: "Oxygen";
    font-weight: 100;
    color: #794f47;
    font-size: 115%;
}

.e1-light {
    color: #794f47;
    text-decoration: none;
}

.e1-light:hover {
    color: #794f47;
    text-decoration: none;
    font-style: italic;
    /* font-weight: 600; */
}
