.contact-page-light {
    /* background: #794f47; */
    height: 70vh;
    padding-top: 11%;
    padding-bottom: 27%;
    text-align: left;
}

.n1-light {
    font-family: "Oxygen";
    font-weight: 100;
    color: #794f47;
    letter-spacing: 2px;
    font-size: 170%;
}

.n2-light {
    font-family: "Oxygen";
    font-weight: 100;
    color: #794f47;
    font-size: 105%;
}

.e1-light {
    color: #794f47;
    text-decoration: none;
}

.e1-light:hover {
    color: #794f47;
    text-decoration: none;
    font-style: italic;
    /* font-weight: 600; */
}

/* phones */
@media only screen and (max-width: 600px) {
    .contact-page-light {
        padding-top: 25%;
        height: 60vh;
    }

    .n1-light {
        font-size: 195%;
    }

    .n2-light {
        font-size: 110%;
    }
}

/* tablet in portrait mode */
@media only screen and (min-width: 600px) and (max-width: 991px) {
    .contact-page-light {
        height: 45vh;
    }
}

/* large laptops / desktops / ipad pro */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .contact-page-light {
        height: 35vh;
    }
}