.bm-item {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 10px;
    color: black;
    transition: color 0.2s;
    outline: none;
  }
  
.bm-item:hover {
    color: black;
}
  
.bm-burger-button {
    position: fixed;
    width: 20px;
    height: 15px;
    left: 24px;
    top: 30px;
    outline: none;
    /* margin-left: 4%; */
}
  
.bm-burger-bars {
    /* background: #b48079; */
    background: #caa6a1;
    outline: none;
}
  
.bm-cross-button {
    height: 24px;
    width: 24px;
}
  
.bm-cross {
    background: #bdc3c7;
}
  
.bm-menu {
    background: white;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    color: #999;
    outline: none;
}
  
.bm-morph-shape {
    fill: #373a47;
}
  
.bm-item-list {
    color: #bdc3c7;
    outline: none; 
}
  
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    outline: none;
}
  
ul li {
    font-family: 'Helvetica';
    padding: 8px;
    font-weight: 100px;
    font-size: 13px;
    text-transform: lowercase;
}

.bruh {
    font-family: 'Helvetica';
    font-weight: 500;
    font-size: 13px;
    color: #5b5853;
    text-transform: lowercase;
    letter-spacing: 1px;
    background-color: #fff;
    padding: 0px;
    text-decoration: none;
}

.bruh:hover {
    /* color: #588c7e; */
    color: #bb8c86;
    font-weight: 600;
    font-style: italic;
    text-decoration: none;
}

#nav-link:active {
    color: #afccc3;
    background-color: #fff;
}

/* bigger computers */
@media screen and (min-width: 1500px) {
    .bm-burger-button {
        width: 36px;
        height: 24px;
        margin-left: 4%;
        margin-top: 1%;
    }
}

/* tablet in portrait mode */
@media only screen and (min-width: 600px) and (max-width: 991px) {
    .bm-burger-button {
        width: 24px;
        height: 12px;
        margin-top: 1%;
    }
    
    .bm-burger-bars {
        background: #caa6a1;
    }
}
  
/* large laptops / desktops / ipad pro */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .bm-burger-button {
        margin-top: 0%;
        margin-left: 1%;
    }
    
    .bm-burger-bars {
        background: #caa6a1;
    }
}
  
/* phone screens */
@media screen and (min-width: 370px) and (max-width: 600px){
    .bm-burger-button {
        width: 24px;
        height: 12px;
        margin-top: 1.3%;
        margin-left: 1px;
    }

    .bm-burger-bars {
        background: #caa6a1;
    }
}
  
@media screen and (min-width: 300px) and (max-width: 369px){
    .bm-burger-button {
        width: 24px;
        height: 12px;
        margin-left: 1px;
    }

    .bm-burger-bars {
        background: #caa6a1;
    }
}

@media only screen and (min-width: 1800px) {
    .bm-burger-button {
        width: 36px;
        height: 18px;
    }
}
  
  