.nav {
    font-family: 'Helvetica';
    font-weight: 500;
    font-size: 13px;
    color: #5b5853;
    text-transform: lowercase;
    letter-spacing: 1px;
    background-color: #fff;
}

#nav-link:hover {
    color: #afccc3;
    font-weight: 600;
    font-style: italic;

    /* enable for green tea theme */
    /* color: #999; */
    /* background-color: #d0f0c0; */
}

#nav-link:active {
    color: #afccc3;
    background-color: #fff;
}