.portfolio {
    /* height: 100vh; */
    /* padding-top: 10%; */
    padding-bottom: 10%;
    text-align: left;
}

.pic-container {
    text-align: center;
    padding-top: 10%;
    /* padding-right: 3%; */
}

.portfolio-pics {
    /* width to height ratio is 60% (as in width = 100%, height = 60% */
    /* original image size is width = 1152, width = 700 */
    height: 233px;
    width: 384px;
    text-align: center;
}

.project-container {
    text-align: left;
    padding-top: 10%;
    padding-right: 5%;
}

.project-title {
    font-family: "Helvetica";
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 150%;
}

.project-description {
    font-family: "Helvetica";
    font-weight: 100;
    font-size: 150%;
    color: #666;
}

.project-button {
    font-family: "Oxygen";
    font-weight: 100;
    font-size: 100%;
    text-transform: uppercase;
    /* padding: 5px 5px 5px 5px; */
    border-radius: 5px;
    border-style: none;
}

.project-button:hover {
    font-weight: 600;
    text-decoration: none;
}


.readit {
    color: #B3B9DC;
    background-color: #fff;
}

.fade-in-text {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

.portfolio-preview {
    height: 100vh;
    text-align: center;
}

.preview-container {
    padding-top: 10%;
    text-align: center;
}

.parkinn-page {
    /* padding: top right bottom left */
    padding: 0 2% 2% 5%;
}

.readit-page {
    /* padding: top right bottom left */
    padding: 0 2% 2% 5%;
}

.close-button {
    font-family: "Helvetica";
    font-weight: 500;
    font-size: 85%;
    /* color: #fff; */
    /* background-color: #caa6a1; */
    text-transform: uppercase;
    letter-spacing: 1px;
    border-style: none;
    border-radius: 3px;
    /* padding: top right bottom left */
    padding: 6px 10px 5px 10px;
}

.parkinn {
    color: #73a9cf;
    background-color: #fff;
}

.parkinn-close-button {
    color: #fff;
    background-color: #73a9cf;
}

.parkinn-close-button:hover {
    color: #73a9cf;
    background-color: #fff;
}

.readit-close-button {
    color: #fff;
    background-color: #B3B9DC;
}

.readit-close-button:hover {
    color: #B3B9DC;
    background-color: #fff;
}

.parkinn-header {
    font-family: "Helvetica";
    font-weight: 100;
    color: #73a9cf;
    font-size: 125%;
}

.readit-header {
    font-family: "Helvetica";
    font-weight: 100;
    color: #B3B9DC;
    font-size: 125%;
}

.parkinn-text {
    font-family: "Helvetica";
    font-weight: 100; 
    color: #777;
    font-size: 100%;
}

/* fucking iphone 5s */
/* @media only screen and (max-width: 325px) {
    .portfolio-pics {
        width: ; 
        height: ; 
    }
} */
  
/* phones */
@media only screen and (max-width: 600px) {
    .portfolio {
        padding-top: 25%;
    }

    .project-title {
        display: none;
    }
    
    .project-container {
        padding-top: 2%;
    }

    .project-description {
        font-size: 90%;
        text-align: center;
    }

    .project-button {
        text-align: center;
    }

    .parkinn {
        text-align: center;
    }

    .fade-in-text {
        text-align: center;
    }

    .portfolio-pics {
        height: 170px;
        width: 260px;
        text-align: center;
    }

    .parkinn-page {
        padding-top: 5%;
    }

    .parkinn-header {
        font-size: 100%;
    }

    .parkinn-text {
        font-size: 80%;
    }
}