.skills {
    font-family: "Helvetica";
    font-weight: 100;
    font-size: 175%;
    color: #645f5b;
    text-align: left;
    background-color: #fff;

    /* padding: top right bottom left */
    padding: 40px 40px 40px 40px;
}

.contact-name {
    font-family: "Helvetica";
    font-weight: 100;
    text-transform: uppercase;
    color: #986359;
    text-align: left;
    font-size: 100%;
    letter-spacing: 2px;
}

.contact-info {
    font-family: "Helvetica";
    color: #8f8983;
    font-weight: 100;
    text-align: left;
    font-size: 70%;
}

.email {
    font-family: "Helvetica";
    color: #8f8983;
    font-weight: 100;
    text-align: left;    
}

.email:hover {
    color: #8f8983;
    font-style: italic;
    text-decoration: none;
}

.resume-button {
    font-family: 'Muli';
    font-size: 50%;
    font-weight: 100;
    text-transform: uppercase;
    background-color: #bb8c86;
    color: #fff;
    border: none;
    /* padding: top right bottom left */
    padding: 2% 8% 2% 8%;
    text-align: left;
    border-radius: 5px;
}

.resume-button:hover {
    font-weight: 600;
    color: #986359;
    background-color: #fff;
}

.resume-link {
    color: #fff;
    text-decoration: none;
}

.resume-link:hover {
    font-weight: 600;
    color: #986359;
    background-color: #fff;
    text-decoration: none;
}

.skills-card {
    width: 90%;
    text-align: center;
    padding: 2% 2% 2% 2%;
    margin: 10px 10px 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(232, 230, 228, 0.3), 0 6px 20px 0 rgba(232, 230, 228, 0.3);
}

.collapse {
    background-color: #986359;
}

.card-title {
    font-family: "Helvetica";
    font-weight: 100;
    font-size: 90%;
    color: #986359;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;

    background-color: #fff;
}

.card-sub {
    font-family: "Helvetica";
    font-weight: 100;
    font-size: 85%;
    color: #777;
    /* text-transform: uppercase; */
}

.card-text {
    font-family: "Helvetica";
    font-weight: 100;
    font-size: 60%;
    letter-spacing: 0.5px;
    margin: 0 0 0 0;
    text-align: left;
}

.text-desc {
    font-family: "Helvetica";
    font-weight: 100;
    font-size: 70%;
    letter-spacing: 0.5px;
    margin: 0 0 0 0;
    text-align: left;
}

/* fucking iphone 5s */
@media only screen and (max-width: 325px) {
    .contact-name {
        font-size: 90%;
        letter-spacing: 1px;
    }

    .contact-info {
        font-size: 60%;
    }
}
  
/* phones */
@media only screen and (max-width: 600px) {
    .skills {
        /* padding: top right bottom left */
        padding: 25% 2% 2% 2%;
    }

    .contact-name {
        letter-spacing: 1px;
    }
}
  
/* tablet in portrait mode / regular ipad */
@media only screen and (min-width: 600px) and (max-width: 991px) {
    .contact-name {
        font-size: 80%;
        letter-spacing: 1px;
    }
}
  
/* large laptops / desktops / ipad pro */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

}
  
/* very big desktops */
@media only screen and (min-width: 1500px) {

}
  
@media only screen and (min-width: 1800px) {

}