/* .terminal-page {
    width: 100%;
    height: 100%;
    background-color: #fff;
    text-align: center;
    overflow: hidden;
} */

/* .terminal {
    font-family: 'Roboto Mono';
    font-size: 100%;
    color: #fff;
    background-color: #555;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    text-align: left;
    padding: 15px 10px 15px 10px;
    opacity: 0.8;
    margin-top: 20px;
    
} */

.terminal {
    background: #556270; /* fallback for old browsers */
    /* background-image: -webkit-linear-gradient(to right, #c7dbd5, #ebe8e3); 
    background-image: linear-gradient(to right, #c7dbd5, #ebe8e3);  */
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./test.jpg);
    background-size: cover;
    height: 100vh;
    text-align: center;
    justify-content: center;
    /* width: 100vw; */
}

.hi {
    font-family: 'Helvetica';
    color: #fff;
    font-size: 200%;
    font-weight: 100;
    text-align: center;
    display: inline-block;
    vertical-align:middle;
}