/* .terminal-page {
    width: 100%;
    height: 100%;
    background-color: #fff;
    text-align: center;
    overflow: hidden;
} */

.terminal {
    font-family: 'Roboto Mono';
    font-size: 100%;
    color: #fff;
    background-color: #555;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    text-align: left;
    padding: 15px 10px 15px 10px;
    opacity: 0.8;
    margin-top: 20px;
    
}