.work-experience {
    font-family: "Helvetica";
    font-weight: 100;
    font-size: 90%;
    text-align: left;
    color: #645f5b;
    /* padding: top right bottom left */
    /* padding: 0px 25% 0px 25%; */
}

.work-container {
    /* padding: top right bottom left */
    padding: 5% 15% 5% 7%;
}

.work-title {
    font-family: "Helvetica";
    font-size: 175%;
    color: #986359;
    text-transform: uppercase;
}

.work-sub {
    font-family: "Helvetica";
    font-size: 125%;
    color: #986359;
    text-transform: uppercase;
}

/* fucking iphone 5s */
@media only screen and (max-width: 325px) {
    .work-experience {
        padding-top: 12%;
    }

    .work-title {
        font-size: 110%
    }

    .work-sub {
        font-size: 100%;
    }
}
  
/* phones */
@media only screen and (max-width: 600px) {
    .work-experience {
        padding-top: 12%;
    }

    .work-title {
        font-size: 120%
    }

    .work-sub {
        font-size: 95%;
    }

    .work-text {
        font-size: 90%;
    }
}
  
/* tablet in portrait mode / regular ipad */
@media only screen and (min-width: 600px) and (max-width: 991px) {

}
  
/* large laptops / desktops / ipad pro */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

}
  
/* very big desktops */
@media only screen and (min-width: 1500px) {

}
  
@media only screen and (min-width: 1800px) {

}