.work-experience {
    background-color: #fff;
    padding-top: 50px;
    height: auto;
}

.heading {
    text-align: left;
    line-height: 0px;
    padding-left: 230px;
}

.work-title {
    font-family: 'Roboto';
    font-size: 115%;
    color: #a2c5be;
    font-weight: 700;
    letter-spacing: 2px;
}

.work-heading {
    font-family: "Helvetica";
    font-size: 160%;
    font-weight: 100;
    color: #a2c5be;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    line-height: 5px;
}

.sub {
    font-family: "Helvetica";
    font-size: 130%;
    font-weight: 100;
    letter-spacing: 10px;
    line-height: 30px;
}

.header {
    font-family: 'Roboto';
    color: #fff;
    font-size: 120%;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: left;
    padding-left: 50px;
}


.work-subtitle {
    font-family: 'Muli';
    font-size: 100%;
    color: #6e6b67;
    font-weight: 600;
}

.work-desc {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 90%;
    color: #585652;
    letter-spacing: 0.5px;
    text-align: left;
}

.date-text {
    font-family: 'Roboto';
    font-weight: bolder;
    color: #5b5853;
    font-size: 100%;
    letter-spacing: 1px;
}

.resume {
    font-family: 'Roboto';
    font-size: 80%;
    font-weight: 700;
    color: #fcfcfc;
    letter-spacing: 2px;
    background-color: #a2c5be; 
    border-radius: 3px;
}

.resume:hover {
    color: #fff;
    background-color: #bdd6d1;
    font-weight: 900;
}

@media screen and (min-width: 300px) and (max-width: 1200px){
    .heading {
        padding-left: 22px;
    }
}